html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
}

#kairos {
  position: absolute;
  left: 0;
}

#webgl {
  z-index: -1;
  position: fixed;
}

button {
  background: #262830;
  background-image: linear-gradient(to bottom, #262830, #2980b9);
  border-radius: 28px;
  color: #52d3fa;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: 0;
  transition: all .2s ease-in-out;
}

button:hover {
  background: #262830;
  background-image: linear-gradient(to bottom, #262830, #3498db);
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
}

.nav-buttons {
  bottom: 0;
  right: 0;
  padding: 25px;
  position: absolute;
}